<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING">
    <!--Loading Spinner -->
    <div class="col-md-12 single-note-item text-center">
      <div class="spinner-border text-info" role="status"></div> 
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED">
    <div class="table table-striped table-hover" id="fighters">

      <div class="row">
        <div class="col-sm-6">
          <!-- Search Input Field -->
          <mat-form-field appearance="standard">
            <mat-icon matSuffix>search_rounded</mat-icon>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          </mat-form-field>
        </div>
        <br><br><br><br>
        <!-- Select Page Navigator -->
        <div class="col-sm-6">
          <br/>
          <div ngbDropdown>
            <button class="btn btn-info" id="pageNavigatorDropdown" 
                    ngbDropdownToggle>Fighters</button>
            <div ngbDropdownMenu="pageNavigatorDropdown">
              <button (click)="onNavigate('FIGHTERS')" ngbDropdownItem>Fighters</button>
              <button (click)="onNavigate('COMPETITIONS')" ngbDropdownItem>Events Archive</button>
              <button (click)="onNavigate('RANKINGS')" ngbDropdownItem>Rankings</button>
            </div>
          </div>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let fighter"> {{ fighter.name }} </td>
        </ng-container>
      
        <!-- Nickname Column -->
        <ng-container matColumnDef="nickname">
          <th mat-header-cell *matHeaderCellDef> Nickname </th>
          <td mat-cell *matCellDef="let fighter"> {{ fighter.nickname }} </td>
        </ng-container>
      
        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let fighter"> {{ fighter.age }} </td>
        </ng-container>

        <!-- Weight Class Column -->
        <ng-container matColumnDef="weightclass">
          <th mat-header-cell *matHeaderCellDef> Weight Class </th>
          <td mat-cell *matCellDef="let fighter"> {{ fighter.weightclass }} </td>
        </ng-container>

        <!-- Rank Column -->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef> Rank </th>
          <td mat-cell *matCellDef="let fighter"> {{ fighter.rank == 0 ? 'C' : (fighter.rank == null ? 'N/A' : fighter.rank) }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Paginator -->
      <mat-paginator #paginator pageSize = 10 
        showFirstLastButtons hidePageSize></mat-paginator>

    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR">
    <!-- Error Container -->
    <div class="alert-danger">
      {{ appState.error }}
    </div>
  </ng-container>
</ng-container>
