<div class="container-x1">

  <!-- Table Header -->
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2>Beer Lover's Heaven</h2>
        </div>
      </div>
    </div><br>

    <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
      <ng-container *ngSwitchCase="DataState.LOADING">
        <!--Loading Spinner -->
        <div class="col-md-12 single-note-item text-center">
          <div class="spinner-border text-info" role="status"></div> 
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.LOADED">
        <div class="table table-striped table-hover" id="beers">

          <div class="row">
            <div class="col-sm-6">
              <!-- Search Input Field -->
              <mat-form-field appearance="standard">
                <mat-icon matSuffix>search_rounded</mat-icon>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <!-- Select List Filter -->
              <span>
                <select (ngModelChange)="filterBeers($event)" ngModel="DEFAULT" name="list" class="btn btn-info">
                  <option hidden value="DEFAULT">Filter</option>
                  <option value="ALL">List All</option>
                  <option value="FAVOURITE">Favourite</option>
                </select>
              </span>
            </div>
          </div>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let beer"> {{beer.name}} </td>
            </ng-container>
          
            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let beer"> {{ beer.description }} </td>
            </ng-container>
          
            <!-- Alcohol Volume Column -->
            <ng-container matColumnDef="alcVol">
              <th mat-header-cell *matHeaderCellDef> Alcohol Volume </th>
              <td mat-cell *matCellDef="let beer"> {{ beer.alcVol }}% </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- Paginator -->
          <mat-paginator #paginator pageSize=10 
            showFirstLastButtons hidePageSize></mat-paginator>

        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.ERROR">
        <!-- Error Container -->
        <div class="alert-danger">
          {{ appState.error }}
        </div>
      </ng-container>
    </ng-container>

  </div>

</div>

