/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table, mat-paginator {
  width: 80%;
}
  
#app-header {
  text-align: -webkit-center;
  overflow: hidden;
}

#app-title {
  padding-top: 20px;
  background-color: #810c17;
}

#app-footer {
    height: 37px;
    background-color: #810c17;
}

.ng-input>input {
    cursor: pointer !important;
}

.ng-select .ng-input {
    cursor: pointer;
 }

 h4 {
    color: rgb(234, 56, 56);
    font: 700 14px/2 KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
 }