/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table, mat-paginator {
  width: 80%;
}
  
.table-wrapper {
  text-align: -webkit-center;
  overflow: hidden;
}

.table-title {
  padding-top: 20px;
  background-color: #810c17;
}

.ng-input>input {
    cursor: pointer !important;
}

.ng-select .ng-input {
    cursor: pointer;
 }